.current-friend-activity 
{
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    line-height: 24px;
}

.song-row
 {
    padding: 6px 0px 6px 10px !important;
    color: #222;
    background-color: #fffcca;
    font-family: Open Sans, Lucida Grande, Helvetica Neue, Helvetica, Arial, Sans-serif;
    line-height: 1.71428571;
    height: 20px;
    width: 400px;
    list-style-type: none;
}

.artist-name, .track-name
{
  color: #222;
}

.friends-header
{
	padding-top: 20px;
	padding-bottom: 23px;
}