.CurrentFriendActivity {
    position: fixed;
    top: 0;
    width: 45%;
    height: auto;
    z-index: 32423942323;
    line-height: 24px;
}

.songRow {
    padding: 5px;
    color: #222;
    background-color: #fffcca;
    font-family: Open Sans, Lucida Grande, Helvetica Neue, Helvetica, Arial, Sans-serif;
    line-height: 1.71428571;
    height: 60px;
    width: 400px;
    list-style-type: none;
}